*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  font-family: "Poppins", sans-serif; }

.heading-primary {
  color: #091e42;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem; }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 2.5rem; } }

.heading-secondary {
  color: #091e42;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem;
      line-height: 2.75rem; } }

.paragraphy {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563; }

.paragraph-secondary {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563; }
  @media (max-width: 37.5em) {
    .paragraph-secondary {
      font-size: 15px; } }

.heading-white {
  color: #fff; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media (max-width: 37.5em) {
    .u-margin-bottom-small {
      margin-bottom: 0.75rem !important; } }

.u-margin-bottom-8 {
  margin-bottom: 0.5rem; }

.u-margin-bottom-12 {
  margin-bottom: 0.72rem; }

.u-margin-bottom-16 {
  margin-bottom: 1rem; }

.u-margin-bottom-40 {
  margin-bottom: 2.5rem; }
  @media (max-width: 37.5em) {
    .u-margin-bottom-40 {
      margin-bottom: 1.5rem; } }

.u-margin-bottom-59 {
  margin-bottom: 3.68rem; }
  @media (max-width: 37.5em) {
    .u-margin-bottom-59 {
      margin-bottom: 12px; } }

.u-margin-bottom-medium {
  margin-bottom: 1.7rem !important; }
  @media (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 1rem !important; } }

.reverse-card {
  flex-direction: row-reverse; }

.color-white {
  color: #fff; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 0.75rem;
  font-size: 1.0625rem;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  transition: all 0.2s; }

.btn--white {
  background-color: #fff;
  color: #6070ff; }
  .btn--white:hover {
    background-color: #6070ff;
    color: #fff;
    box-shadow: 0px 8px 16px #4053fc3d; }
  .btn--white:active, .btn--white:focus {
    background-color: #2230d2;
    color: #fff;
    box-shadow: none; }

.btn--blue {
  background-color: #4053fc;
  color: #fff; }
  .btn--blue:hover {
    background-color: #fff;
    color: #4053fc; }
  .btn--blue:active, .btn--blue:focus {
    background-color: #2230d2;
    color: #fff;
    box-shadow: none; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  color: #7f8cff;
  text-decoration: none;
  transition: all 0.2s;
  font-size: 1rem; }
  .btn-text:link:hover, .btn-text:visited:hover {
    color: #6070ff; }

.card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1156px;
  gap: 22px;
  padding: 24px;
  margin: 0 auto;
  border-radius: 24px;
  border: 1px solid #dfe1e6; }
  .card:not(:last-child) {
    margin-bottom: 10%; }
    @media (max-width: 37.5em) {
      .card:not(:last-child) {
        padding: 16px;
        gap: 12px;
        margin-bottom: 25%; } }
  .card__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    @media (max-width: 56.25em) {
      .card__body {
        flex-direction: column; } }
  .card__image {
    flex: 0 50%;
    background-size: cover;
    cursor: pointer;
    transition: all 0.5s;
    overflow: hidden;
    border-radius: 8px; }
    .card__image-portfolio {
      max-width: 100%;
      height: 100%;
      transition: all 0.5s; }
      .card__image-portfolio:hover {
        transform: scale(1.2); }
  .card__content {
    flex: 0 50%;
    align-self: flex-start;
    padding: 24px; }
    @media (max-width: 37.5em) {
      .card__content {
        padding: 12px 0; } }
    .card__content-heading {
      display: flex;
      align-items: center;
      gap: 12px; }
      .card__content-heading--dark {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #344563; }
        @media (max-width: 37.5em) {
          .card__content-heading--dark {
            font-size: 13px;
            line-height: 16px; } }
      .card__content-heading--dot {
        background: #c1c7d0;
        width: 8px;
        height: 8px;
        border-radius: 50%; }
      .card__content-heading--light {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #6b778c; }
        @media (max-width: 37.5em) {
          .card__content-heading--light {
            font-size: 13px;
            line-height: 16px; } }
    .card__content-skills {
      display: flex;
      gap: 8px;
      flex-wrap: wrap; }
    .card__content-skill {
      padding: 4px 12px;
      background: #ebebff;
      border-radius: 8px;
      color: #6070ff; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c1c7d0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3);
      overflow-y: auto; } }
  .popup__content {
    padding: 24px;
    position: relative;
    margin: 5rem auto;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
    overflow: hidden;
    opacity: 0;
    transform: scale(0.25);
    transition: all 0.5s 0.2s; }
  .popup__header {
    display: flex;
    justify-content: space-between; }
    .popup__header .card__content-heading--dark {
      font-size: 15px; }
  .popup__body-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill; }
  .popup__body-content {
    display: flex;
    gap: 24px; }
    @media (max-width: 75em) {
      .popup__body-content {
        flex-direction: column; } }
  .popup__body-text {
    flex: 0 70%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563; }
    @media (max-width: 37.5em) {
      .popup__body-text {
        font-size: 15px;
        line-height: 24px; } }
  .popup__body-skills .btn-group {
    display: flex;
    gap: 12px; }
    .popup__body-skills .btn-group .btn--white {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      .popup__body-skills .btn-group .btn--white span {
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center; }
        .popup__body-skills .btn-group .btn--white span .icon {
          z-index: 666; }
  .popup__body-skills .btn--white:hover .icon {
    filter: invert(10);
    z-index: 666; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: scale(1); }
  .popup__close:link, .popup__close:visited {
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    align-self: flex-start;
    margin-top: 5px; }
    .popup__close:link:hover, .popup__close:visited:hover {
      color: #6070ff; }

.social__item {
  display: flex;
  align-items: center;
  gap: 1.18rem;
  list-style: none; }

.shape__1 {
  position: absolute;
  width: 108.67px;
  height: 19.44px;
  left: 20px;
  top: 85px;
  background: #ebebff;
  transform: rotate(-46.14deg); }
  @media (max-width: 37.5em) {
    .shape__1 {
      width: 51.99px;
      height: 9.3px;
      left: -13px;
      top: 28px; } }

.shape__2 {
  position: absolute;
  width: 80px;
  height: 40px;
  border-radius: 10rem 10rem 0 0;
  left: 68px;
  top: 116px;
  background: #6070ff;
  transform: rotate(-156.88deg); }
  @media (max-width: 37.5em) {
    .shape__2 {
      width: 38.5px;
      height: 19.25px;
      border-radius: 10rem 10rem 0 0;
      left: 11px;
      top: 42px; } }

.shape__3 {
  position: absolute;
  width: 56.01px;
  height: 10.02px;
  left: 693.25px;
  margin: 0 auto;
  top: 145px;
  background: #6070ff;
  transform: matrix(0.98, -0.21, -0.21, -0.98, 0, 0); }
  @media (max-width: 37.5em) {
    .shape__3 {
      width: 26.46px;
      height: 4.73px;
      left: 218.18px;
      top: 25.59px; } }

.shape__4 {
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  left: 712px;
  top: 155px;
  background: #ebebff; }
  @media (max-width: 37.5em) {
    .shape__4 {
      width: 11px;
      height: 10px;
      left: 226.98px;
      top: 30.81px; } }

.shape__5 {
  position: absolute;
  width: 204px;
  height: 47px;
  right: 48px;
  top: 45px;
  background: #ebebff;
  transform: rotate(-30deg); }
  @media (max-width: 37.5em) {
    .shape__5 {
      width: 95.58px;
      height: 22.02px;
      right: 8px;
      top: 33px; } }

.shape__6 {
  position: absolute;
  top: 78px;
  width: 224px;
  height: 224px;
  right: -17px; }
  @media (max-width: 37.5em) {
    .shape__6 {
      width: 105px;
      height: 105px;
      right: -17px;
      top: 49px; } }

.shape__7 {
  position: absolute;
  width: 36.9px;
  height: 18.45px;
  border-radius: 10rem 10rem 0 0;
  left: 230px;
  bottom: 127px;
  background: #6070ff;
  transform: rotate(-176.08deg); }
  @media (max-width: 37.5em) {
    .shape__7 {
      width: 24.14px;
      height: 12.07px;
      left: 387px;
      bottom: 191px; } }

.shape__8 {
  position: absolute;
  bottom: 90px;
  left: 216px; }
  @media (max-width: 37.5em) {
    .shape__8 {
      width: 41.1px;
      height: 33.1px;
      left: 375px;
      bottom: 159px; } }

.shape__9 {
  position: absolute;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  right: 554px;
  bottom: 112px;
  background: #6070ff; }
  @media (max-width: 37.5em) {
    .shape__9 {
      width: 20px;
      height: 20px;
      right: 184px;
      bottom: 67px; } }

.shape__10 {
  position: absolute;
  width: 161.41px;
  height: 28.87px;
  right: 560px;
  bottom: 105px;
  background: #ebebff;
  transform: rotate(23.34deg); }
  @media (max-width: 37.5em) {
    .shape__10 {
      width: 68.06px;
      height: 12.18px;
      right: 186px;
      bottom: 65px; } }

.shape__11 {
  position: absolute;
  width: 75px;
  height: 75px;
  right: 191px;
  bottom: 198px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #ebebff; }
  @media (max-width: 37.5em) {
    .shape__11 {
      width: 15px;
      height: 15px;
      left: 69px;
      bottom: 70px; } }

@media (max-width: 37.5em) {
  .shape__12 {
    position: absolute;
    background: #ffffff;
    border: 1px solid #cbcdff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    right: 162px;
    top: -11px; } }

.navigation {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.6rem 10%; }
  .navigation a {
    display: inline-block;
    text-decoration: none;
    color: #6070ff; }
  @media (min-width: 112.5em) {
    .navigation {
      max-width: 1440px;
      padding: 1.6rem 5%; } }
  @media (max-width: 56.25em) {
    .navigation {
      padding: 1.6rem 5%; } }
  @media (max-width: 37.5em) {
    .navigation {
      height: 60px; } }
  .navigation__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #6070ff; }
    .navigation__logo-img {
      display: block;
      width: 30px;
      height: 30px; }
    .navigation__logo-text {
      font-style: normal;
      font-weight: 700;
      font-size: 1.1rem; }
  .navigation__main-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; }
    @media (max-width: 37.5em) {
      .navigation__main-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start; } }
  .navigation__main-link:link, .navigation__main-link:visited {
    text-decoration: none;
    color: #344563;
    transition: all 0.3s; }
    @media (max-width: 37.5em) {
      .navigation__main-link:link, .navigation__main-link:visited {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        color: #fff;
        letter-spacing: 0.2rem; } }
  .navigation__main-link:hover {
    color: #6070ff; }
    @media (max-width: 37.5em) {
      .navigation__main-link:hover {
        color: #fff;
        z-index: 9999; } }
  @media (max-width: 37.5em) {
    .navigation__main {
      background-color: rgba(96, 112, 255, 0.8);
      backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      padding: 62px 28px;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);
      transition: all 0.3s ease-in;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      z-index: 888; } }
  .navigation__mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 9999;
    display: none; }
    @media (max-width: 37.5em) {
      .navigation__mobile-nav {
        display: block; } }
    .navigation__mobile-nav [name="close-outline"] {
      display: none; }
    .navigation__mobile-nav .navigation__icon {
      height: 1.3rem;
      width: 1.8rem; }

@media (max-width: 37.5em) {
  .navigation-open .navigation__main {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0); } }

@media (max-width: 37.5em) {
  .navigation-open .navigation__icon[name="close-outline"] {
    display: block; } }

@media (max-width: 37.5em) {
  .navigation-open .navigation__icon[name="menu-outline"] {
    display: none; } }

.sticky .navigation {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 899;
  padding: 0 9%;
  box-shadow: 0px 0px 16px rgba(64, 83, 252, 0.24); }
  @media (min-width: 112.5em) {
    .sticky .navigation {
      margin: 0 560px 0 560px; } }
  @media (max-width: 37.5em) {
    .sticky .navigation {
      padding: 0 6%; } }

header {
  position: relative;
  background-color: #eff5f5; }

.header {
  background-color: #fff;
  border-radius: 0 0 0 6.25rem; }
  @media (max-width: 37.5em) {
    .header {
      border-radius: 0 0 0 5.25rem; } }
  .header__content {
    max-width: 920px;
    padding: 10rem 0rem;
    margin: 0 auto; }
    @media (max-width: 75em) {
      .header__content {
        padding: 15% 10% 15% 10%; } }
    @media (max-width: 37.5em) {
      .header__content {
        padding: 20% 7% 30% 7%; } }
  .header__p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563; }
    @media (max-width: 37.5em) {
      .header__p {
        font-size: 16px;
        line-height: 24px;
        text-align: justify; } }
  .header .btn-text {
    margin-bottom: 1.4rem; }
    @media (max-width: 37.5em) {
      .header .btn-text {
        margin-bottom: 1rem; } }

.sticky .header-observe {
  margin-top: 72px; }

.contaner {
  margin: 0 auto; }

.about-content {
  display: flex;
  gap: 25px;
  padding: 142px 0;
  background-color: #fff;
  max-width: 1156px;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .about-content {
      flex-direction: column;
      border-radius: 0 5.25rem 0 0; } }
  @media (max-width: 37.5em) {
    .about-content {
      border-radius: 0 5.25rem 0 0;
      padding: 114px 0; } }
  .about-content__text {
    flex: 0 40%; }
    .about-content__text--paragraph {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #344563; }
  .about-content__accordion {
    flex: 0 60%; }
    .about-content__accordion input {
      position: absolute;
      opacity: 0;
      z-index: -1; }
      .about-content__accordion input:checked + .tab-label::after {
        transform: rotate(90deg); }
      .about-content__accordion input:checked ~ .tab-content {
        max-height: 100vh;
        padding: 1em; }
    .about-content__accordion .tabs {
      overflow: hidden; }
    .about-content__accordion .tab {
      width: 100%;
      color: #344563;
      overflow: hidden;
      border-bottom: solid 1px #dfe1e6; }
      .about-content__accordion .tab-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: #ffff;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer; }
        .about-content__accordion .tab-label:hover {
          background: #f4f4f4; }
        .about-content__accordion .tab-label::after {
          content: url(../../img/icon/forwad.svg);
          width: 1em;
          height: 1em;
          text-align: center;
          transition: all 0.35s;
          color: #acb7c3; }
      .about-content__accordion .tab-content {
        display: flex;
        max-height: 0;
        padding: 0 1em;
        background: white;
        transition: all 0.35s; }
        @media (max-width: 37.5em) {
          .about-content__accordion .tab-content {
            display: flex;
            flex-direction: column;
            gap: 12px; } }
      .about-content__accordion .tab-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        cursor: pointer; }
    .about-content__accordion .skills {
      width: 122px;
      height: 120px;
      padding: 12px;
      background: #f7f7f9;
      border-radius: 8px;
      margin-right: 12px; }
      .about-content__accordion .skills-icon {
        display: block; }
      @media (max-width: 37.5em) {
        .about-content__accordion .skills {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 16px;
          width: 303px;
          height: 66.72px; } }
      .about-content__accordion .skills p {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #253858; }
      .about-content__accordion .skills img {
        margin-bottom: 16px; }
        @media (max-width: 37.5em) {
          .about-content__accordion .skills img {
            margin-bottom: 0; } }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6070ff; }
  @media (max-width: 37.5em) {
    .contact {
      padding: 0 24px; } }
  .contact__paragraph {
    max-width: 569px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff; }
  .contact__form {
    width: 447px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch; }
    @media (max-width: 37.5em) {
      .contact__form {
        width: 125%; } }
    .contact__form input[type="text"],
    .contact__form input[type="email"] {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      color: #172b4d; }
    .contact__form input:not(:last-child) {
      margin-bottom: 1.7rem; }
    .contact__form--name {
      padding: 15px 16px;
      outline: none;
      border: 1px solid #cfd8dc;
      border-radius: 8px; }
      .contact__form--name::placeholder {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #b3bac5; }
    .contact__form--text {
      padding: 15px 16px;
      outline: none;
      border: 1px solid #cfd8dc;
      border-radius: 8px; }
      .contact__form--text::placeholder {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #b3bac5; }
    .contact__form--area {
      margin-bottom: 1.7rem;
      outline: none;
      padding: 15px 16px;
      border: 1px solid #cfd8dc;
      border-radius: 8px; }
      .contact__form--area::placeholder {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #b3bac5; }
    .contact__form--btn {
      outline: none;
      align-self: center;
      border: none;
      background-color: #fff;
      color: #6070ff;
      text-decoration: none; }
      @media (max-width: 37.5em) {
        .contact__form--btn {
          align-self: flex-start; } }
      .contact__form--btn:hover {
        outline: 2px solid #7f8cff;
        background-color: #6070ff;
        color: #fff;
        box-shadow: 0px 8px 16px #4053fc3d; }
      .contact__form--btn:active, .contact__form--btn:focus {
        background-color: #2230d2;
        color: #fff;
        box-shadow: none; }

.footer {
  background-color: #6070ff;
  padding: 2rem 0 5rem 0rem;
  border-top: none; }
  .footer__content {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer__content .navigation__logot-text {
      color: #fff; }
    .footer__content .navigation__main-link {
      color: #fff; }
  .footer__copyright {
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px; }

.section-portfolio {
  background-color: #eff5f5;
  padding: 9%; }
  @media (max-width: 37.5em) {
    .section-portfolio {
      padding: 20% 6%; } }

.section-about {
  background-color: #eff5f5; }
  .section-about .container-about {
    padding: 0 9%;
    background-color: #fff;
    border-radius: 0 6.25rem 0 0; }

.section-contact {
  background-color: #6070ff;
  border-radius: 6.25rem 0 0 0;
  padding: 10% 10%;
  border-bottom: none; }
  @media (min-width: 112.5em) {
    .section-contact {
      padding: 5% 10%;
      border-radius: 5.25rem 0 0 0; } }
  @media (max-width: 37.5em) {
    .section-contact {
      padding: 102px 10%;
      border-radius: 5.25rem 0 0 0; } }
