body {
  font-family: "Poppins", sans-serif;
}

.heading-primary {
  color: $color-heading;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
}

.heading-secondary {
  color: $color-heading;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
}
